/* Reset des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styles de base */
  body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color:transparent;
    color: #fff;
    padding: 10px 0;
    z-index: 999;
  }
  
 
  .navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .navbar-menu li {
    margin-right: 20px;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    color: #fff;
  }
  
  .search-bar {
    padding: 5px;
  }
  
  .carousel {
    /* Styles pour le conteneur du carrousel */
    position: relative;
    overflow: hidden;
  }
  
  .carousel-content {
    /* Styles pour le contenu du carrousel */
    display: flex;
  }
  
  .carousel-item {
    /* Styles pour chaque élément du carrousel */
    flex: 0 0 auto;
    width: 100%; /* Assure que chaque élément prend toute la largeur */
    position: relative;
  }
  
  .vertical-scrolling-bg {
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-y: auto;
    position: relative;
    color: #fff;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left; /* Alignement du texte à gauche */
  }
  
  .association-info {
    margin-right: 20px; /* Espace entre le texte et le logo */
  }
  
  .logo-container {
    display: inline-block;
    text-align: right; /* Alignement du logo à droite */
  }
  
  .logo-container img {
    width: 100px; /* Ajustez la taille du logo selon vos besoins */
    border-radius: 50%;
  }
  
  
  /* Styles pour les boutons de navigation ronds */
  .round-button {
    position: absolute;
    bottom: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 999; /* Assure que les boutons sont au-dessus du contenu */
  }
  
  .prev-button {
    left: 50%;
    transform: translateX(-75%);
  }
  
  .next-button {
    right: 50%;
    transform: translateX(75%);
  }
  
  
  .footer {
    /* Styles pour le footer */
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  